/* Extra small devices (phones, less than 768px) */
@media (max-width: 767px) {
	.desktop-only {
		display: none !important;
	}
	.container-fluid .navbar > .container-full-width-boxed {
	    padding-left: 15px;
	    padding-right: 15px;
	}
	#top-bar {
		padding: 0;
	}
	.top-bar-items .logo {
		display: none;
	}
	#top-bar .social-profiles {
		margin: 5px 0;
	}
	#top-bar #top_search {
		height: 0px;
		float: none;
		padding: 0 15px;
		margin: 0 -15px;
		max-width: 100%;
		box-sizing: content-box;
		clear: both;
		transition: height ease-out .2s;
		overflow: hidden;
		background: rgba(0,0,0,0.2);
	}
	#top-bar #top_search.in {
		height: 48px;
	}
	#top_search .searchform {
		margin: 7px 0;
	}
	.search-toggle {
		margin: 0 -15px 0 0;
		color: #888;
		padding: 8px 15px 9px;
		border-radius: 0;
		border: none;
		background: rgba(0,0,0,0.2);
	}
	.search-toggle.collapsed .fa:before {
		content:"\f00e";
	}
	.search-toggle .fa:before {
		content:"\f010";
	}
	.header_title {
		margin: 0;
		padding: 0 15px;
		text-align: left;
		font-size: 1em;
		letter-spacing: normal;
		line-height: 50px;
	}
	.header_title,
	.header_title a,
	.header_title a:hover,
	.header_desc {
		color: #333;
	}
	.navbar-inverse .header_title,
	.navbar-inverse .header_title a,
	.navbar-inverse .header_title a:hover,
	.navbar-inverse .header_desc {
		color: #fff;
	}
	.header_desc {
		display: none;
	}
	.navbar #top_search {
		margin: 0;
	}
	.navbar-toggle {
		border-color: #888;
	}
	.navbar-toggle .icon-bar {
		background-color: #888;
	}
	.navbar-inverse .navbar-toggle {
		border-color: #333;
	}
	.navbar-inverse .navbar-toggle .icon-bar {
		background-color: #fff;
	}
	.navbar-nav {
		margin: 0;
	}
	.navbar .nav > li > a,
	.navbar .nav.has-desc > li > a,
	.navbar #secondary-menu li a {
		min-height: 0;
		padding: 7px 15px;
	}
	.navbar-nav,
	.navbar-nav ul {
		padding-bottom: 5px;
	}
	.post {
		padding: 15px 0;
	}
	.post .entry {
		padding: 0 15px;
	}
	.singular .hentry,
	.hentry.author {
		-webkit-box-shadow: none;
		box-shadow: none;
		border: none;
	}
	.singular .hentry .entry,
	.hentry.author .entry {
		padding: 0;
	}
	.post-nav {
		padding: 0;
	}
	.post-nav-top .previous,
	.post-nav-top .next-post {
		text-align: center;
		padding: 10px 15px;
	}
	.post-nav-top p:nth-child(2) {
		border-top: 1px solid #eee;
	}
	.post-title, 
	.post-title a {
		font-size: 1.2em;
		line-height: normal;
	}
	.page .hentry .post-title, 
	.page .hentry .post-title a {
		font-size: 1.5em;
		line-height: normal;
	}
	.entry-content .excerpt-thumb img, 
	.child-page .excerpt-thumb img {
		float: none;
		margin: 0;
		width: 100%;
		border: none;
		box-shadow: none;
	}
	.entry-content .excerpt-thumb {
		margin: 15px -15px;
	}
	.gallery-columns-2 .gallery-item,
	.gallery-columns-3 .gallery-item,
	.gallery-columns-4 .gallery-item,
	.gallery-columns-5 .gallery-item,
	.gallery-columns-6 .gallery-item,
	.gallery-columns-7 .gallery-item,
	.gallery-columns-8 .gallery-item,
	.gallery-columns-9 .gallery-item,
	.gallery-columns-2 .gallery-item:nth-child(3n+1),
	.gallery-columns-2 .gallery-item:nth-child(3n+2),
	.gallery-columns-3 .gallery-item:nth-child(4n+2),
	.gallery-columns-3 .gallery-item:nth-child(4n+3),
	.gallery-columns-4 .gallery-item:nth-child(5n+3),
	.gallery-columns-4 .gallery-item:nth-child(5n+4),
	.gallery-columns-5 .gallery-item:nth-child(6n+4),
	.gallery-columns-5 .gallery-item:nth-child(6n+5),
	.gallery-columns-6 .gallery-item:nth-child(7n+5),
	.gallery-columns-6 .gallery-item:nth-child(7n+6),
	.gallery-columns-7 .gallery-item:nth-child(8n+6),
	.gallery-columns-7 .gallery-item:nth-child(8n+7),
	.gallery-columns-8 .gallery-item:nth-child(9n+7),
	.gallery-columns-8 .gallery-item:nth-child(9n+8),
	.gallery-columns-9 .gallery-item:nth-child(10n+8),
	.gallery-columns-9 .gallery-item:nth-child(10n+9) {
		width: 100% !important;
		margin: 7px 0 !important;
	}
	.gallery .item-title .gallery-title {
		bottom: 10px;
		top: auto;
	}
	.gallery .item-title .gallery-title h3 {
		font-size: 14px;
		font-size: 4vw;
		padding: 0 1%;
	}
	.gallery .item-title .gallery-title .gallery-date {
		font-size: 10px;
	}
	.gallery dt {
		margin-top: 0;
	}
	.entry-author {
		text-align: center;
	}
	.entry-author .author-avatar {
		margin-bottom: 15px;
	}
	.entry-author .author-avatar img {
		max-width: 100px;
	}
	.post-tags, 
	.comment-link {
		margin-top: 10px;
	}
	#comments > h4 {
		float: none;
		margin: 0 0 15px;
	}
	.comment-form-jump {
		float: none;
		margin: 0 0 15px;
	}
	#comments ol li.comment, 
	#comments ol li.pingback, 
	#comments ol li.trackback {
		padding: 15px;
	}
	.comment-meta {
		font-size: 0.9em;
	}
	.comment-meta .comment-date .time {
		display: none;
	}
	.comment-meta .comment-avatar {
		float: left;
		margin-right: 10px;
	}
	.author-heading {
		text-align: center;
		margin: -30px -15px 0;
	}
	.author-entry .avatar {
		margin-bottom: 15px;
	}
	.mentions-bar-logo {
		display: flex;
		flex-wrap: wrap;
	}
	.mentions-bar-logo li {
		max-width: 47%;
	}
	.footer-right {
		text-align: center;
		padding: 10px 15px;
		margin: -15px 0 10px;
		background: rgba(255,255,255,0.05);
	}
	#footer .social-profiles,
	.footer-menu-wrap {
		text-align: center;
	}
	#footer .social-profiles {
		margin: -10px -15px;
		padding: 10px 0;
		border-bottom: 1px solid #555;
		border-bottom: 1px solid rgba(255,255,255,0.2);
	}
	.footer-menu-wrap {
		margin-top: 20px;
	}
	.footer-menu-wrap .menu > li {
		padding: 0 5px;
		margin: 0;
	}
	.footer-menu-wrap .menu > li.menu-item-has-children {
		padding: 0;
		margin: 0;
		display: block;
		list-style: none;
	}
	.footer-menu-wrap .sub-menu {
		margin-bottom: 10px;
	}
	.footer-menu-wrap .sub-menu li {
		padding: 2px 0;
	}


	/**
	 * Stacks
	 */
	.entry-content .panel-grid .excerpt-thumb {
		margin-left: 0;
		margin-right: 0;
	}
	.panel-grid .mentions-bar {
		padding: 15px;
	}
	.panel-grid .mentions-bar-logo {
		padding: 0;
	}
}

/* Small devices up to tablets */
@media (max-width: 991px) {
	.carousel {
		margin: -30px -15px 50px;
		width: auto;
		box-shadow: none;
		border: none;
	}
	#header .carousel {
		margin: 0;
	}
	#content > .carousel {
		margin-left: 0;
		margin-right: 0;
	}
	.carousel, 
	.carousel .item {
		height: 250px;
	}
	.carousel-caption {
		padding: 10px 15px;
	}
	.carousel .slider_post_title {
		font-size: 16px;
	}
	.carousel.style-card .content {
		position: absolute;
		bottom: 0;
		background: #000;
		background: rgba(0,0,0,0.6);
		color: #fff;
		padding: 10px 15px;
		font-size: 0.9em;
		line-height: normal;
		height: auto;
	}
	.carousel.style-card .slider_post_title,
	.carousel.style-card .slider_post_title a {
		color: #fff;
	}
	.carousel.style-card .carousel-control {
		opacity: 0.5;
	}
	.carousel.style-banner .carousel-caption,
	.carousel.style-card .content {
		position: absolute;
		top: auto;
		bottom: 0;
		width: 100%;
		height: auto;
		padding: 15px;
		background: linear-gradient(to top, rgba(0,0,0,0.7) 20%, transparent);
		font-size: 0.8em;
    	line-height: 1.3em;
	}
	.carousel .post-meta {
		display: none;
	}
	.full-width-slider .carousel {
		margin-top: 0;
	}
	.carousel-caption .container {
		padding-left: 0;
		padding-right: 0;
	}
	.left-col-first.two_col_right .carousel,
	.left-col-first.three_col_right .carousel,
	.left-col-first.three_col_center .carousel {
		margin-top: 30px;
	}
	.dropdown-menu .dropdown-submenu .fa-chevron-right:before {
		content: "\f078";
	}
	.navbar-collapse.in .navbar-nav .dropdown-submenu > .dropdown-menu {
		background: rgba(255,255,255,0.05);
	}
	.navbar-collapse.in .navbar-nav .dropdown-submenu a,
	.navbar-collapse.in .navbar-nav .dropdown-submenu > .dropdown-menu li {
		background: none;
	}
	.navbar-collapse.in .navbar-nav .dropdown-submenu.open > .dropdown-menu {
		display: block;
	}
	.navbar-inverse .navbar-nav .open .dropdown-menu>.active>a, 
	.navbar-inverse .navbar-nav .open .dropdown-menu>.active>a:focus, 
	.navbar-inverse .navbar-nav .open .dropdown-menu>.active>a:hover {
		background: none;
	}
	#header .carousel-indicators {
		display: none;
	}
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
	.mobile-only {
		display: none !important;
	}
	.header-slider .header_title {
		display: none;
	}
	.footer-widget-col-5 .sidebar-wrap {
	    width: 20% !important;
	}
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
	.full-width-slider .carousel.style-banner .carousel-caption {
	    width: 45%;
	}
	/*.full-width-slider .carousel.style-banner,
	.full-width-slider .carousel.style-card,*/
	/*#header .carousel {
		margin-left: -15px;
		margin-right: -15px;
	}*/
	.full-width-slider.layout-full-width-boxed .carousel.style-banner .carousel-caption,
	#header .carousel.style-banner .carousel-caption {
	    padding: 0;
	    position: relative;
	    width: 100%;
	    background: linear-gradient(to right, rgba(0,0,0,0.7) 10%, transparent 50%);
	}
	.full-width-slider.layout-full-width-boxed .carousel.style-banner .carousel-caption-content,
	#header .carousel.style-banner .carousel-caption-content {
	    padding: 25px 25px 25px 0;
	    width: 25%;
	    position: absolute;
	    left: 20%;
	    height: 100%;
	}
	.full-width-slider.layout-full-width-boxed .carousel.style-banner .carousel-caption-content,
	.layout-boxed #header .carousel.style-banner .carousel-caption-content {
		left: 70px;
		width: 40%;
	}
	#header .carousel.style-bgimage-excerpt .carousel-caption-content {
	    max-width: 50%;
	}
	#header .carousel-control.left {
	    left: 35px;
	}
	#header .carousel-control.right {
	    right: 35px;
	}
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
	
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991px) {
	.navbar .nav > li > a {
		padding: 10px;
		min-height: 40px;
		font-size: 13px;
	}
	.navbar .nav ul li a {
		font-size: 12px;
		padding: 7px 10px;
	}
	.navbar #secondary-menu li a {
		font-size: 12px;
		padding: 5px 10px;
	}
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199px) {
	
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
	
}