1 VERSIONINFO
 FILEVERSION 1,0,0,1
 PRODUCTVERSION 1,0,0,1
 FILEFLAGSMASK 0x17L
 FILEOS 0x4L
 FILETYPE 0x1L
 FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "041904b0"
        BEGIN
            VALUE "FileDescription", "%fdesname"
            VALUE "FileVersion", "%ver"
            VALUE "InternalName", "%pname"
            VALUE "LegalCopyright", "Copyright (C) 2007"
            VALUE "OriginalFilename", "%fname"
            VALUE "ProductName", "%pname"
            VALUE "ProductVersion", "%ver"
            VALUE "E-mail", "%mail"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x419, 1200
    END
END